<div class="introImgDiv_T">    
        <img class="introImg_head" src="/images/logoW2.png">
       <h1 class="introType"><%=data[3][0].introQuote%></h1>
       <h2> <span class="introType"></span><%=data[3][0].introMOTD%>  <span class="introType"></span></h2> 
 
</div>
  
<div class="landingPage">
    <%if(typeof data[2] == 'object'&& data[2]){%>
<%for(let i=0;i<data[2].length;i++){%>
        <div style="margin-bottom:12%" class="eventBody">  
        <h1 class="h1Span"><%=data[2][i].introHeader%></h1>
        <div class="introImgDiv_L">     
            <div class="innerDetails"><%=data[2][i].introDetails%></div>
            <div><img class="introImg" src="/<%=data[2][i].imgName%>"></div>
            </div>
        </div>
        <%}%>
        <%}%>
    </div>
