<!DOCTYPE html>
<html>
  <head>
  
    <%- include('config/head.ejs')%>

<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
    <body>
           
<canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
    <%- include('config/bkgdImg.ejs')%>  
    <%- include('config/header.ejs')%>  


<div class="eventBody">
<h1 class="h1Span"><%=title%></h1>
</div>
<div class="mainStyle">
  <div class="landingPage">

    <div class="mainStyle">
      <h1 class="h1Span">Post</h1>
        <div class="eventBody" id="admin0">
          <form action="/upload" enctype="multipart/form-data" method="post" >
            <h2>Step 1: Add Details</h2>
              <input placeholder="Event Title"  type="text" name="title">
              <input placeholder="Date or Subtitle" type="text" name="subtitle">
              <textarea placeholder="Event Details" type="text" name="details">
               </textarea>
            <h2 style="margin: 0;">Step 2: Attach One Image</h2> 
              <input type="file" accept="image/*" name="photo">
            <h2>Step 3: Submit</h2> 
              <button onclick="loading('adding post to home page')" type="submit" >Submit</button>
          </form>
        </div>
     </div>
   
<!---->
<div class="mainStyle">
  <h1 class="h1Span">Add Intro Content</h1>
    <div class="eventBody" id="admin0">
      <form action="/uploadIntro" enctype="multipart/form-data" method="post" >
        <h2>Step 1: Add Details</h2>
          <input placeholder="Event Title"  type="text" name="introHeader">
          <input placeholder="Date or Subtitle" type="text" name="introDetails">
  
        <h2 style="margin: 0;">Step 2: Attach One Image</h2> 
          <input type="file" accept="image/*" name="photo">
        <h2>Step 3: Submit</h2> 
          <button onclick="loading('adding post to home page')" type="submit" >Submit</button>
      </form>
    </div>
 </div>
<!---->
<div class="mainStyle">
  <h1 class="h1Span">Live IntroContent</h1>
  <div class="eventBody" id="admin2">
  <table>
    <thead>
  <th>Intro Title</th><th>Date </th><th>details</th><th>Remove</th>
    </thead>
    <tbody>
      <%if(typeof data == 'object' && data){%>
      <% for(var i=0; i<data[2].length;i++){%>
      <tr>
          <td><%= data[2][i].introHeader %></td>
          <td><%= Date(data[2][i].postDate)%></td>
          <td><%= data[2][i].introDetails%></td>
          <td><img src="<%= data[2][i].imgName%>" alt=""></td>             
          <td><form action="/delIntro" method="post">
              <button onclick="loading('deleting intro content')" name="introDelete" value="<%= data[2][i]._id%>"> delete</button>
               </form></td>
       </tr>
      <% } %>
      <%}%>
    </tbody>
  </table>
 </div>
</div>
  <div class="mainStyle">
      <h1 class="h1Span">Live <%=data[3][0].blogTitle%></h1>
      <div class="eventBody" id="admin2">
      <table>
        <thead>
      <th><%=data[3][0].blogTitle%> </th><th>Date or Subtitle</th><th>Remove</th>
        </thead>
        <tbody>
          <%if(typeof data== 'object' && data){%>
          <% for(var i=0; i<data[0].length;i++){%>
          <tr>
              <td><%= data[0][i].bTitle %></td>
              <td><%= data[0][i].bSubtitle%></td>
              <td><img src="<%= data[0][i].imgName%>" alt=""></td>             
              <td><form action="/delBlog" method="post">
                  <button onclick="loading('deleting <%= data[0][i].bTitle%>')" name="blogDelete" value="<%= data[0][i]._id%>"> delete</button>
                   </form></td>
           </tr>
          <% } %>
          <%}%>
        </tbody>
      </table>
     </div>
   </div>
<div class="mainStyle">
  <div class="eventBody">
    <form action="/keysUpdateUtility"method="POST"><button type="submit"></button></form>
  </div>
</div>
<div class="mainStyle">

<!---->
<%- include('./config/adminNav.ejs')%>


</div>


</div>
<%- include('./config/baseScripts.ejs')%>
 

<%- include('config/footer.ejs')%> 
    </div>

    </body> </html>