<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body onload="listeners()">   
  <!-- include('config/bkgdImg.ejs')%-->            

  <!--- include('config/header.ejs')%-->
   
      
  <h1 class="h1Span">Client's DASHBOARD</h1>
  
  <div class="mainStyle">
   <div class="eventBody">

  <h2><%=dash[0].companyName%><br></h2>
  <%=dash[0].contactName%><br>
  <%=dash[0].email%><br>
  <%=dash[0].phoneNumber%><br>
  <%=dash[0].businessAddress%><br>


  <% let paytotals =new Number(0)%>
  
  
  
  
  <br>
  <h2>invoices</h2>
  <table style="border:1px dotted white">
    <thead>
        <th>view invoice</th>
        <th>inv total</th>
        <th>company invoiced</th>
        <th>paid in full</th>
    </thead>
    <tbody>
        <%for(let i=0;i<data[2][0].length;i++){%>
            <%if(data[2][0][i].invData.companyId.split('|')[0]==dash[0]._id){%>
                <tr>
                    <td style="border:1px dotted white"><a href="/invoiceViewer/<%=data[2][0][i]._id%>">view</a></td>
                    <td style="border:1px dotted white"> $ <%=data[2][0][i].invTotal%> .00</td>
                    <td style="border:1px dotted white">  <%=data[2][0][i].invData.companyId.split('|')[1]%></td>
                    <td style="border:1px dotted white">  <%=data[2][0][i].status.paid%></td>
                    
                </tr>
                <%}%>
                <%}%>
            </tbody>
            
        </table>
        <h2>payments</h2>
        <table style="border:1px dotted white">
            <thead>
                <th style="border:1px dotted white">payment id</th>
                <th style="border:1px dotted white">amount received</th>
                <th style="border:1px dotted white">date posted</th>
                <th style="border:1px dotted white">memo</th>
            </thead>
            <tbody>
                <%for(let i=0;i<data[4][0].length;i++){%>
                    <%if(data[4][0][i].invClient==dash[0].companyName){%>
                        <tr>
                            <td style="border:1px dotted white"><%=data[4][0][i]._id%></td>    
                            <td style="border:1px dotted white"><%=data[4][0][i].TRANAMT%></td> 

                            <% paytotals=paytotals+ new Number(data[4][0][i].TRANAMT)%>   
                            <td style="border:1px dotted white"><%=data[4][0][i].DTPOSTED%></td>            
                            <td style="border:1px dotted white"><%=data[4][0][i].MEMO%></td>    
                            
                        </tr>
                        <%}%>
                        <%}%>
                    </tbody>
                </table>
                
              
                
                <h2>Current Account Balance: $<%=dash[0].status.balance-paytotals%></h2><br>
                
                
<p>a memo from scott: Thank you for checking out our newest services online. I am busy coding this business platform that helps keep us paperless, efficient and digital. This may be a broken version, and hoprefully by may it looks waaaaaay better next month! report issues at <a href="/tickets">W2 Tickets</a>
</p>
<p>thank you for your patience with me this month!! </p>



</div>





   </div>




















<script>
    
    function listeners(){
        const servicesAdded = document.getElementById('servicesAdded')
        const costsAdded = document.getElementById('costsAdded')
        const namesAdded = document.getElementById('namesAdded')
        const serviceAdd = document.getElementById('serviceAdd')
        const clientAdd = document.getElementById('clientAdd')
        const addSvcButton = document.getElementById('addSvcButton')
        serviceAdd.addEventListener('change', svcChange)
        addSvcButton.addEventListener('click', svcAdd)
    }
    
    function svcChange(){
        console.log(event.target.value)
    }
    function svcAdd(){
    console.log(`added ${serviceAdd.value}`)
    //ADD NAMES AND COSTS
   const svcId =  serviceAdd.value.split('|')[0] 
   const svcNamer =  serviceAdd.value.split('|')[1] 
  const svcCost =  serviceAdd.value.split('|')[2] 
  const svcData = {  }
///////SERVICES TABLE///////
const tRow = document.createElement('div')
const totalcostEl= document.createElement('h3')
const namesEl= document.createElement('h3')
const costText = document.createTextNode(svcCost)
const namesText = document.createTextNode(svcNamer)
namesEl.appendChild(namesText)
totalcostEl.appendChild(costText)
tRow.appendChild(namesEl)
tRow.appendChild(totalcostEl)
   costsAdded.appendChild(tRow)
   //////////
   
  
   
    //ADD INPUT ELEMENTS FOR SERVICES
   const inputEl = document.createElement('input');
   inputEl.setAttribute('type','text')
   inputEl.setAttribute('name','serviceName')
   inputEl.setAttribute('value', serviceAdd.value ) 
   const hrefEl = document.createElement('button')
   hrefEl.setAttribute('onclick',`remove(${serviceAdd.value})`)
   servicesAdded.appendChild(inputEl, hrefEl)


}
</script>
</body> </html>