<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body>   
  <%- include('config/bkgdImg.ejs')%></include>           

  <!--- include('config/header.ejs')%-->
   <div class="eventBody"><div class="eventBody">
    <h2><%=dash[0].companyName%><br></h2>
    <%=dash[0].contactName%><br>
    <%=dash[0].email%><br>
    <%=dash[0].phoneNumber%><br>
    <%=dash[0].businessAddress%><br>
  
   </div></div>
      
  <div id="activity" class="">
      <div class="eventBody">
      

 

  <% let paytotals =new Number(0)%>
  
  
  
  
  <br>
  <h1 class="logoFont">account activity</h1>

  <h2><span style="background-color: black; color:crimson">**</span>invoices</h2>
  <table style="border:1px dotted white">
    <thead>
        <th>view invoice</th>
        <th>date</th>
        <th>inv total</th>
        <th>company invoiced</th>
        <th>status</th>
    </thead>
    <tbody>
        <%for(let i=0;i<data[2][0].length;i++){%>
            <%if(data[2][0][i].invData.companyId.split('|')[0]==dash[0]._id){%>
                <tr>
                    <td style="border:1px dotted white">view: <a href="/invoiceViewer/<%=data[2][0][i]._id%>"><%=data[2][0][i].invData.companyId.split('|')[1].slice(0,3)+"-"+data[2][0][i]._id.toString().slice(-4)%></a></td>
                    <td style="border:1px dotted white"> <%=new Date(data[2][0][i].date).toDateString()%></td>
                    <td style="border:1px dotted white"> $ <%=data[2][0][i].invTotal%> .00</td>
                    <td style="border:1px dotted white">  <%=data[2][0][i].invData.companyId.split('|')[1]%></td>
                   
                       <%if(data[2][0][i].status.paid==true){%>
                        <td style="color:black;background-color:green;border:1px dotted rgb(255, 255, 255)">  paid  </td>
                        <%}else{%>
                          <td style="color:black;background-color:rgb(254, 149, 149);border:1px dotted rgb(255, 255, 255)">  unpaid </td>
                          <%}%>
                     
                    
                </tr>
                <%}%>
                <%}%>
            </tbody>
            
        </table>
        <h2><span style="background-color: black; color:crimson">**</span>payments</h2>
        <table style="border:1px dotted white">
            <thead>
               
                <th style="border:1px dotted white">amount</th>
                <th style="border:1px dotted white">post date</th>
                <th style="border:1px dotted white">description</th>
                <th style="border:1px dotted white">memo</th>
                <th style="border:1px dotted white">checkNumber</th>
            </thead>
            <tbody>
                <%for(let i=0;i<data[4][0].length;i++){%>
                    <%if(data[4][0][i].invClient==dash[0].companyName){%>
                        <tr>                             
                            <td style="border:1px dotted white"><%=data[4][0][i].amount%></td> 

                            <% paytotals=paytotals+ new Number(data[4][0][i].amount)%>   
                            <td style="border:1px dotted white"><%=data[4][0][i].postingDate%></td>            
                            <td style="border:1px dotted white"><%=data[4][0][i].description%></td>    
                            <td style="border:1px dotted white"><%=data[4][0][i].memo%></td>    
                            <td style="border:1px dotted white"><%=data[4][0][i].checkNumber%></td>    
                            
                        </tr>
                        <tr><td style="border:1px dotted white"><%=data[4][0][i].extendedDescription%></td>   </tr>
                        <%}%>
                        <%}%>
                    </tbody>
                </table>
                
              
                
                <h2 style=""><span style="background-color: black; color:crimson">**</span>Current Account Balance: $<%=dash[0].status.balance-paytotals%></h2><br>
                

<p style="background-color: black; color:crimson">**NOTICE: Our CU, CANVAS CREDIT UNION has undergone a major update to their websites and data: </p>
<p style="background-color: black; color:crimson">**Some dashboard elements and payment histories in our transactions logs must be updated on our end: </p>
<p style="background-color: black; color:crimson">**you may notice issues this month while we migrate our systems: </p>
<p style="background-color: black; color:crimson">**contact scott directly for any details on your account: </p>
<p style="background-color: black; color:crimson">**Sorry for any confusion this month!! 08-02-2023 </p>

<p>a memo from scott: if you experience any trouble you may email me directly or open a ticket: <a href="/tickets">W2 Tickets</a>
</p>

<img src="/images/logoW2.png" alt="" class="">


</div>





   </div>

<div id="analytics" class="">
<div class="eventBody">
  <h1 class="logoFont">
analytics coming soon
</h1>
<p>We will report your facebook, ad campaigns and other analytical data here</p>
</div>

</div>
<div id="settings" class="">
<div class="eventBody">
  <h1 class="logoFont">
settings coming soon
</h1>
<p>our clients will soon be able to connect to several online tools and services provided by W2 Marketing</p>
</div>

</div>

<div  class="dashNav">
    <div class="navBut"><button value="activity" id="activityButt">activity</button></div>
    <div class="navBut"><button  value="analytics" id="analyticsButt">analytics</button></div>
    <div class="navBut"><button  value="settings" id="settingsButt">settings</button></div>
</div>
















<script>
    
    function listeners() {
  const activity = document.getElementById('activity');
  const analytics = document.getElementById('analytics');
  const settings = document.getElementById('settings');
  const dashDivs = [activity, analytics, settings];

  const activityButt = document.getElementById('activityButt');
  const analyticsButt = document.getElementById('analyticsButt');
  const settingsButt = document.getElementById('settingsButt');
  const dashNavButtons = [activityButt, analyticsButt, settingsButt];

  // Function to update the button background color
  function updateButtonBackground() {
    dashDivs.forEach(function (div, index) {
      const button = dashNavButtons[index];

      if (div.style.display === 'block') {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }
    });
  }

  // Event listener function
  function handleButtonClick(index) {
    return function () {
      dashDivs.forEach(function (div, i) {
        if (i === index) {
          div.style.display = 'block';
        } else {
          div.style.display = 'none';
        }
      });

      updateButtonBackground(); // Update the button background when a button is clicked
    };
  }

  // Add event listeners to the buttons
  dashNavButtons.forEach(function (button, index) {
    button.addEventListener('click', handleButtonClick(index));
  });

  updateButtonBackground(); // Set up the initial button backgrounds
}

// Call the listeners function on body onload event
document.body.onload = listeners;
</script>
</body> </html>