<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body onload="listeners()">   
  <%- include('config/bkgdImg.ejs')%>            

  <%- include('config/header.ejs')%>
   
      
      <h1 class="h1Span">DASHBOARD</h1>
      <a href="/services"><button>services</button></a>
      <a href="/accounts"><button>accounts</button></a>
      <a href="/admin"><button>admin</button></a>

      <a href="/invoice"><button>invoice</button></a>
      <a href="/transactions"><button>transactions</button></a>
  
   <div class="mainStyle">
    <div class="eventBody">
        <h2>open invoices</h2>

        <table style="border:1px dashed white">
            <thead style="text-align: center;">           
               <th>comapny</th> 
               <th>inv total</th> 
               <th>partial payments</th>
               <th>due date</th> 
               <th>actions</th>
             
            </thead>
        <tbody>

        <%if(typeof data[2]=='object' && data[2]){%>
           <%for(let i=0;i<data[2].length;i++){%>
            <%if(data[2][i].status.paid==false&&data[2][i].status.draft==false){%>

           
<!--.toLocaleDateString()-->
<tr>
   <td style="border:1px dashed white"><a href="/clientDashboard/<%=data[2][i].invData.companyId.split('|')[0]%>"> <%=data[2][i].invData.companyId.split('|')[1]%></a></td>
   <td style="border:1px dashed white"> <%=data[2][i].invTotal%></td>
   <td style="border:1px dashed white"> <%=data[2][i].partialPayments%></td>
  <td style="border:1px dashed white"><%=data[2][i].due%></td>
  <td style="border:1px dashed white">
    <form action="/reDraft"method="post"><input hidden name="inv_id" type="text"value="<%=data[2][i]._id%>"><input hidden type="text"name="_id_client" value="<%=data[2][i].invData.companyId%>"><button>draft</button></form>
    <form action="/markPaid"method="post"><input hidden type="text"name="_id" value="<%=data[2][i]._id%>"><button>paid</button></form>
    <form action="/notify"method="post">
     
        <input hidden type="text"name="notify_inv_id" value="<%=data[2][i]._id%>">
        <input hidden type="text"name="notify_cust_id" value="<%=data[2][i].invData.companyId.split('|')[0]%>">
        <button>notify</button>
    </form>

</td>
</tr>

<!---->
            <%}%>
            <%}%>
            <%}%>
        </tbody>
    </table>
    </div>



    <div class="eventBody">
        <h2>paid invoices</h2>

        <table style="border:1px dashed white">
            <thead style="text-align: center;">
                <th>comapny</th> 
                <th>service name</th> 
                <th>total paid</th> 
              
               <th>date</th> 
               <th>payment date</th> 
               <th>mark paid</th>
            </thead>
        <tbody>

        <%if(typeof data[2]=='object' && data[2]){%>
           <%for(let i=0;i<data[2].length;i++){%>
            <%if(data[2][i].status.paid==true){%>

           
<!--.toLocaleDateString()-->
<tr>

   <td style="border:1px dashed white"> <%=data[2][i].invData.companyId.split('|')[1]%></td>
   <td style="border:1px dashed white"> <%=data[2][i].invData.serviceName.split('|')[1]%></td>
   <td style="border:1px dashed white"> <%=data[2][i].invTotal%></td>

  <td style="border:1px dashed white"><%=data[2][i].date%></td>
  <td style="border:1px dashed white"><%=data[2][i].paymentDate%></td>
  <td style="border:1px dashed white"><form action="/unPaid"method="post"><input hidden type="text"name="_id" value="<%=data[2][i]._id%>"><button>revert</button></form></td>
</tr>

<!---->
            <%}%>
            <%}%>
            <%}%>
        </tbody>
    </table>
    </div>




<div class="eventBody"><button>add account category</button></div>
<div class="eventBody"><button>add banking service</button></div>
<div class="eventBody"><button>undo upload, remove all this stuff we added</button></div>



   </div>




















<script>
    
    function listeners(){
        const servicesAdded = document.getElementById('servicesAdded')
        const costsAdded = document.getElementById('costsAdded')
        const namesAdded = document.getElementById('namesAdded')
        const serviceAdd = document.getElementById('serviceAdd')
        const clientAdd = document.getElementById('clientAdd')
        const addSvcButton = document.getElementById('addSvcButton')
        serviceAdd.addEventListener('change', svcChange)
        addSvcButton.addEventListener('click', svcAdd)
    }
    
    function svcChange(){
        console.log(event.target.value)
    }
    function svcAdd(){
    console.log(`added ${serviceAdd.value}`)
    //ADD NAMES AND COSTS
   const svcId =  serviceAdd.value.split('|')[0] 
   const svcNamer =  serviceAdd.value.split('|')[1] 
  const svcCost =  serviceAdd.value.split('|')[2] 
  const svcData = {  }
///////SERVICES TABLE///////
const tRow = document.createElement('div')
const totalcostEl= document.createElement('h3')
const namesEl= document.createElement('h3')
const costText = document.createTextNode(svcCost)
const namesText = document.createTextNode(svcNamer)
namesEl.appendChild(namesText)
totalcostEl.appendChild(costText)
tRow.appendChild(namesEl)
tRow.appendChild(totalcostEl)
   costsAdded.appendChild(tRow)
   //////////
   
  
   
    //ADD INPUT ELEMENTS FOR SERVICES
   const inputEl = document.createElement('input');
   inputEl.setAttribute('type','text')
   inputEl.setAttribute('name','serviceName')
   inputEl.setAttribute('value', serviceAdd.value ) 
   const hrefEl = document.createElement('button')
   hrefEl.setAttribute('onclick',`remove(${serviceAdd.value})`)
   servicesAdded.appendChild(inputEl, hrefEl)


}
</script>
</body> </html>