<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body onload="listeners()">   
  <%- include('config/bkgdImg.ejs')%>            

  <%- include('config/header.ejs')%>
   
      
      <h1 class="h1Span">INVOICE GEN</h1>
      <a href="/services"><button>services</button></a>
      <a href="/accounts"><button>accounts</button></a>
      <a href="/admin"><button>admin</button></a>
      <a href="/dashboard"><button>dashboard</button></a>
      <a href="/invoice"><button>invoice</button></a>
  
   <div class="mainStyle">
    <div class="eventBody">
        <h2>open invoices</h2>

        <table style="border:1px dashed white">
            <thead style="text-align: center;">
               <th>id</th> 
               <th>comapny</th> 
               <th>due date</th> 
            </thead>
        <tbody>

        <%if(typeof data[2]=='object' && data[2]){%>
           <%for(let i=0;i<data[2].length;i++){%>
            <%if(data[2][i].status.draft==false){%>
           
<!---->
<tr>
   <td> <%=data[2][i]._id%></td>
   <td> <%=data[2][i].invData.companyId%></td>
  <td><%=data[2][i].status.due%></td>
</tr>

<!---->
            <%}%>
            <%}%>
            <%}%>
        </tbody>
    </table>
    </div>
   </div>




















<script>
    
    function listeners(){
        const servicesAdded = document.getElementById('servicesAdded')
        const costsAdded = document.getElementById('costsAdded')
        const namesAdded = document.getElementById('namesAdded')
        const serviceAdd = document.getElementById('serviceAdd')
        const clientAdd = document.getElementById('clientAdd')
        const addSvcButton = document.getElementById('addSvcButton')
        serviceAdd.addEventListener('change', svcChange)
        addSvcButton.addEventListener('click', svcAdd)
    }
    
    function svcChange(){
        console.log(event.target.value)
    }
    function svcAdd(){
    console.log(`added ${serviceAdd.value}`)
    //ADD NAMES AND COSTS
   const svcId =  serviceAdd.value.split('|')[0] 
   const svcNamer =  serviceAdd.value.split('|')[1] 
  const svcCost =  serviceAdd.value.split('|')[2] 
  const svcData = {  }
///////SERVICES TABLE///////
const tRow = document.createElement('div')
const totalcostEl= document.createElement('h3')
const namesEl= document.createElement('h3')
const costText = document.createTextNode(svcCost)
const namesText = document.createTextNode(svcNamer)
namesEl.appendChild(namesText)
totalcostEl.appendChild(costText)
tRow.appendChild(namesEl)
tRow.appendChild(totalcostEl)
   costsAdded.appendChild(tRow)
   //////////
   
  
   
    //ADD INPUT ELEMENTS FOR SERVICES
   const inputEl = document.createElement('input');
   inputEl.setAttribute('type','text')
   inputEl.setAttribute('name','serviceName')
   inputEl.setAttribute('value', serviceAdd.value ) 
   const hrefEl = document.createElement('button')
   hrefEl.setAttribute('onclick',`remove(${serviceAdd.value})`)
   servicesAdded.appendChild(inputEl, hrefEl)


}
</script>
</body> </html>