<!DOCTYPE html>
<html>

    <%- include('config/head.ejs')%>

<body onload="bodyLoader()">  
        <div id="mainBody" class="">            
            <%- include('config/bkgdImg.ejs')%>            
   
            <%- include('config/header.ejs')%>
            <div class="introImgDiv_T">    
                <img class="indexImg" src="/images/logoW2.png">
               <h1 class="introType"><%=copy.title%></h1>
              
        </div>
          
        <div class="landingPage">
        <%for(let i=0;i<data[2].length;i++){%>
                <div style="margin-bottom:12%" class="eventBody">  
                <h1 class="h1Span"><%=data[2][i].introHeader%></h1>
                <div class="introImgDiv_L">     
                    <div class="innerDetails"><%=data[2][i].introDetails%></div>
                    <div><img class="introImg" src="/<%=data[2][i].imgName%>"></div>
                    </div>
                </div>
                <%}%>
            </div>
     
        <div class="midBar">
            <div class="midLeft">
                <div class="landingPage0">
            <a href="/market">     <div class="navBox">
               <%=copy.companyName%> Home Website
            </div></a>
        </div>
<div class="landingPage0">
   <a href="/about"> <div class="navBox">
        about this webapp
    </div></a>
</div>
<div class="landingPage0">
    <a href="/faqs">   <div class="navBox">
        F.A.Q.s
    </div></a>
</div>
</div>
<div class="midRight">
    
</div>
</div>

<h1 class="h1Span">Latest Developments</h1>
<div class="landingPage">  
        <% for(var i=0;i<data[0].length;i++){%>
            <div class="eventBody">
                <h1 maxlength="20"><%= data[0][i].bTitle%></h1>
                <h2 maxlength="20"><%= data[0][i].bSubtitle%></h2>
                <div style="background-image:url('<%= data[0][i].imgName%>');" class="imgBox"></div>
                <p><%= data[0][i].bDetails%></p>
            </div>
            <%}%>
        </div>
   
        <div class="indexSpacerBottom"></div>
        <%- include('config/footer.ejs')%>
        
    </div>
    
    
    <%- include('./config/baseScripts.ejs')%>
</body>
 </html>