<!DOCTYPE html>
<html>

    <%- include('config/head.ejs')%>

<body onload="bodyLoader()">
    <canvas id="bkgdCanvas"></canvas>   
        <div id="mainBody" class="">            
            <%- include('config/bkgdImg.ejs')%>            
       
            <%- include('config/header.ejs')%>
            
    <%- include('config/intro.ejs')%> 
    <div class="eventBody">
       <div class="indexSpacer"></div>
        <h1 class="h1Span"> Services</h1>
      
        <div class="invGrid">
            <%if(typeof data[1] == 'object'&& data[1]){%>
            <% for(var i=0;i<data[1].length;i++){%>
                <div class="gridContain">
                    <div>
                        <h2><%=data[1][i].serviceName%></h2>
                        <h3>$<%=data[1][i].cost%>.00</h3>
                    </div>
                    <div class="imgCont">
                           <a onclick="loading('getting product details')" href="/market/productID/<%= data[1][i]._id%>"> 
                         <img class="invImg" src=" <%= data[1][i].imgName%>" alt="">
                        </a>
                       </div>
                </div>                
                 <%}%>
                 <%}%>

               
            </div>
            <div class="indexSpacerBottom"></div>
        </div>        
     <%- include('./config/navBar')%>
     
     <%if(typeof data[0] == 'object'&& data[0]){%>
<h1 class="h1Span">Latest Developments</h1>
<div class="landingPage">  
    <% for(var i=0;i<data[0].length;i++){%>
            <div class="eventBody">
                <h1 maxlength="20"><%= data[0][i].bTitle%></h1>
                <h2 maxlength="20"><%= data[0][i].bSubtitle%></h2>
                <div style="background-image:url('<%= data[0][i].imgName%>');" class="imgBox"></div>
                <p><%= data[0][i].bDetails%></p>
            </div>
            <%}%>
            <%}%>
        </div>
   
        <div class="indexSpacerBottom"></div>
        <%- include('config/footer.ejs')%>
        
    </div>
    
    
    <%- include('./config/baseScripts.ejs')%>
</body>
 </html>