<!DOCTYPE html>
<html>
    <body>
           
<canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>

    <%- include('config/loadScreen.ejs')%>
<div class="eventBody">
<h1 class="h1Span"><%=title%></h1>
</div>

  <div class="eventBody">
    <div class="mainStyle">
        <h1 class="h1Span">configurations</h1>       
     
        <form action="/updateOption" method="post">
          <input hidden type="text"name="_id" value="<%=options[0]._id%>">
        
   <%for(let i=1;i<Object.keys(options[0]).length;i++){%>
    <h4><%=Object.keys(options[0])[i]%></h4>
    <input type="text" name="<%=Object.keys(options[0])[i]%>" value="<%=Object.values(options[0])[i]%>">
       <%}%>         
           <button type="submit">update</button>
            </form>   
   
    </div>
  </div>
  <div class="eventBody">
    <div class="mainStyle">
        <h1 class="h1Span">Live FAQs</h1>
       
            <%for(let i=0;i<faqs.length;i++){%>
               Question: <p><%=faqs[i].faqQ%></p>        
               answer: <p><%=faqs[i].faqA%></p>
               <form action="/delFaq" method="post">
                <input hidden name="faqId" value="<%=faqs[i]._id%>">
                <button type="submit">delFaq</button>
            </form>
            <%}%>
   
    </div>
    <div class="eventBody">
      <div class="mainStyle">
          <h1 class="h1Span">Add New FAQ</h1>
              <div class="eventBody">        
                <form action="/newFAQ"  method="post">    
                  <h2>Step 1: Add Details</h2>              
                    <input placeholder="FAQ Question"  type="text" name="faq">
                    <h2>product details</h2>
                    <textarea placeholder="FAQ Answer" type="text" name="faqAnswer"></textarea>                
                    <h2>Step 2: Submit</h2> 
                      <button onclick="loading('adding New FAQ Entry')" type="submit" >Submit</button>
                 </form>
              </div>
            </div>
    </div>

  </div>
  <div class="mainStyle">
    <h1 class="h1Span">change logo</h1>
    <div class="eventBody">
    <div class="imgCont">
      <h4>CURRENT LOGO</h4>
    <img class="invImg"src="/images/logoW2.png" alt="">       
  </div>
</div>
      <div class="eventBody" id="admin0">
        <form action="/updateLogo" enctype="multipart/form-data" method="post" >
          <input type="text" name="_id"value="<%=options[2]._id%>">
          <input type="text" name="imgType"value="logoImage">
          <h2 style="margin: 0;">Step 1: Attach One Image</h2> 
            <input type="file" accept="image/*" name="photo">
          <h2>Step 2: Submit</h2> 
            <button onclick="loading('adding post to home page')" type="submit" >Submit</button>
        </form>
      </div>
   </div>
   <div class="mainStyle">
    <h1 class="h1Span">change background</h1>
    <div class="eventBody">
    <div class="imgCont">
      <h4>CURRENT BACKGOURND</h4>
    <img class="invImg"src="/images/background.png" alt="">       
  </div>
</div>
      <div class="eventBody" id="admin0">
        <form action="/updateBkgrd" enctype="multipart/form-data" method="post" >
          <input type="text" name="_id"value="<%=options[1]._id%>">
          <input type="text" name="imgType"value="bkgrdImage">
          <h2 style="margin: 0;">Step 1: Attach One Image</h2> 
            <input type="file" accept="image/*" name="photo">
          <h2>Step 2: Submit</h2> 
            <button onclick="loading('adding post to home page')" type="submit" >Submit</button>
        </form>
      </div>
   </div>

<%- include('./config/adminNav.ejs')%>



<%- include('./config/baseScripts.ejs')%>
<%- include('config/footer.ejs')%> 
    </div>

    </body> </html>