<!DOCTYPE html>
<html>
    <%- include('./config/head.ejs')%>
<body >    
    <div class="mainStyle">       

        <%- include('../views/config/header.ejs')%>

  <div class="eventBody">
    <h2 class="h1Span"> <%=data[3][0].inventoryTitle%> Details :  <%= prod.serviceName%></h2>
</div>

        <!----LANDING PAGE CLASS IS GRID DISPLAY-->
        <!----LARGE SCREEN 4 GRID !!!! MEDIUM SCREEN 3 GRID !!!!! SMALL 2 and single GRID-->
 <%if(typeof prod == 'object'&& prod.imgName){%>
        <div id="imgPrev" style="z-index:-15" class="imgPreviewDiv"><img class="imgPreview" src="/<%= prod.imgName%>" alt=""></div>
 <%}%>
        <div class="landingPage">
            <div class="eventBody">
        <div onclick="enlarge()" style="background-image:url('/<%= prod.imgName%>');" class="imgBox"></div> 

        <div class="invPrice"><%= prod.cost%></div> 
        <div >
            <h3><%= prod.serviceDetails%></h3>
            <h3><%=data[3][0].purchaseTerms%></h3>
            <h3><%=data[3][0].productLinkback%> <a href="/register"><span class="alert"> Contact Us </span></a>!!!
            </h3>
            <br>
     
        </div> 
        
    </div>




   
    <div class="indexSpacerBottom"></div>
</div>
      <%- include('../views/config/footer.ejs')%>

    </div>

<script src="/javascripts/cart.js"></script>
<script src="/javascripts/imgPrev.js"></script>
<%- include('./config/baseScripts.ejs')%>

</body>
 </html>