<!DOCTYPE html>
<html>
    
    <%- include('config/head.ejs')%>

 <div class="mainStyle">
 
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/header.ejs')%>
    <body>
    <div class="eventBody">
       <h3>   All Errors, Issues, Bugs, Concerns, and developer Needs can be entered here.</h3>
 
  <form action="/postTicket" method="post">
    <div>
      <label>Name</label>
      <input id="username" name="reportOwner" type="text" autocomplete="username" required />
    </div>
    <div>
      <label >issue:</label>
      <textarea rows="5" cols="30"  name="issue" type="text"   required></textarea>
    </div>
    <div>
   
    </div>

      <button type="submit">Report</button>
    </div>
  </form>
<a href="/about"><button>cancel</button></a>
</div>

<div id="oauthBody" class="">
  <div><a style="text-align:center" href="/auth/google"><h2 id="gglMsg">Single Touch register in with Google:</h2>  </div> 
    <div ><img  class="gglButton" src="/images/icons/google.png" alt=""></div></a>

</div>
</div>
</div>
     
      <%- include('config/footer.ejs')%>
      <!--script src="javascripts/backgroundFX1.js"></script-->
      <%- include('./config/baseScripts.ejs')%>
   <script src="javascripts/login.js"></script> 

    </body>
    </html>