<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body onload="listeners()">   
  <%- include('config/bkgdImg.ejs')%>            

  <%- include('config/header.ejs')%>
   
      
      <h1 class="h1Span">TRANSACTIONS</h1>
      <a href="/services"><button>services</button></a>
      <a href="/accounts"><button>accounts</button></a>
      <a href="/admin"><button>admin</button></a>

      <a href="/invoice"><button>invoice</button></a>
      <a href="/dashboard"><button>dashboard</button></a>
 
<div class="eventBody">
<h1> transactions</h1>



<!--lets really break down this transaction object-->
<%if(data){%>
    <%let dataSetArray = []%>
datafound
<br>
        <%for(i=0;i<Object.keys(data).length;i++){%>
        <%dataSetArray.push(Object.keys(data)[i])%>
        <%}%>
data sets:
<br>
<ul>
            <%for(x=0;x<dataSetArray.length;x++){%>
            <li>
              <h2>  data[<%=dataSetArray[x]%>]:</h2>
                <ul>
                 <!--NESTED DYNAMC UL LIs-->
                    <%for(let z=0;z<Object.keys(data[x]).length;z++){%>
                    <li><strong><%=z%>: ~~</strong>  <%=Object.values(data[x][z])%></li>
                    <%}%>
                </ul>

            </li>
            <%}%>
</ul>
<br>
<%}else{%>
no data found 
<br>
<%}%>

<%if(typeof data[4]=='object'&&data[4]){%>

<table>
    <thead>           
       <th>date</th> 
       <th>amount</th> 
       <th>categorize</th> 
       <th>co invoiced</th> 
       <th>memo</th> 
       <th>info</th> 
       <th>update</th> 
       <th>delete</th> 
   
    </thead>
    <tbody>
        <!--TRANSACTION ROWS of DATA PLACED IN FORM TO UPDATE-->
        <%for(let i =0;i<data[4].length;i++){%>
            <form action="/updateTransCat/<%=data[4][i]._id%>"method="post">
<%if(data[4][i].amount){%>
                <%if(data[4][i].amount<0){%>
    <tr style="background-color:rgba(232, 185, 180, 0.381)">
        <%}else{%>
            <tr style="background-color:rgba(144, 238, 144, 0.162)">
                <%}%>
                <%let amount = data[4][i].amount%>
                <%let modWhole = amount.split('.')[0]%>
                <%let modPart = amount.split('.')[1]%>
                <%let modChange = modPart.slice(0,2)%>
                <td> 
                    <%if(data[4][i].postingDate){%>
                     <%=data[4][i].postingDate%>
                     <%}else{%>
                        no posting date
                        <%}%>
                    </td>
                <td id="tdMoney" class="total">$ <%=modWhole+"."+modChange%></td>   

                <%if(data[4][i].transType=='object'&& data[4][i].transType){%>
                <td>        
        <select name="transType">
              <option value="<%=data[4][i].transType%>"><%=data[4][i].transType%></option>
               <%for(let i =0;i<data[5].length;i++){%>
            <option value="<%=data[5][i].transType%>"><%=data[5][i].transType%></option>
            <%}%>
        </select>
        </td>
        <%}else{%>
            <td>
                <select name="transType" id=""> <option value="no transtype"> "no transtype"</option></select>
               
            </td>
            <%}%>
        <td>  
            <select name="invClient">
                <%if(typeof data[4][i].invClient=='object' && data[4][i].invClient){%>
                    <option value="<%=data[4][i].invClient%>"><%=data[4][i].invClient%></option>
                    <option value="none">none to invoice</option>
                    <%}else{%>
                <option value="none">none to invoice</option>
                <%}%>
                <%for(let i =0;i<data[1].length;i++){%>
                <option value="<%=data[1][i].companyName%>"><%=data[1][i].companyName%></option>
                <%}%>
            </select>
            </td>

    <td> <%if(data[4][i].memo){%>
        <input name="transMemo" value="<%=data[4][i].memo%>" type="text">
        <%}else{%>
            model needs update
            <%}%>
        </td>
    <td>
        <%if(data[4][i].description){%>
        <%=data[4][i].description%>
    <%}else{%>
        no description
        <%}%>
    </td>
    <td><button type="submit()">update</button></td>
</form>
   <td><form action="delTrans"method="post"><input hidden name="transId" value="<%=data[4][i]._id%>" type="text"><button>delete</button></form></td>
</tr>
<%}else{%>
    <tr>
        <td>
            <%if(data[4][i].postingDate){%>
            <%=data[4][i].postingDate%>
        <%}else{%>
        no posting date
            <%}%>
        </td>
        <td style="min-width:100%"> error with .amount or .postingDate</td>

    </tr>
<%}%>
<%}%>
</tbody>
</table>
</div>
<!--CREATE TRANSACTION CATEGORIES-->
<div class="eventBody">
    <form action="/addTransCat"method="post">
        <h2>Add transaction category</h2>
<input type="text" name="transType">
<button type="submit">add</button>
    </form>
</div>
<div class="eventBody">
    <form action="/csvUpload" method="post" enctype="multipart/form-data">
        <input type="file" name="csv">
        <button type="submit">Upload</button>
      </form>




</div>
<!--MANUAL TRANSACTIONS FORM-->
<div class="EventBody">
<form action="/manualTransaction" method="post">
   
      
 
    <h2> <%= Object.keys(data[4][0])[2]%></h2>
        <input type="date" id="date-input" name="postingDate" pattern="\d{2}-\d{2}-\d{4}" required>
        <h2> <%= Object.keys(data[4][0])[3]%></h2>
 <input name="amount">
        <h2> <%= Object.keys(data[4][0])[6]%></h2>
 <input name="description">
        <select name="transType">
             
               <%for(let i =0;i<data[5].length;i++){%>
            <option value="<%=data[5][i].transType%>"><%=data[5][i].transType%></option>
            <%}%>
        </select>
        scott-make this dynamic
       
        <select name="invClient"  class="invClient">
            <option value="none">none</option>
            <%for(let i =0;i<data[1].length;i++){%>
                <option value="<%=data[1][i].companyName%>"><%=data[1][i].companyName%></option>
                <%}%>
            </select>
    <button typew ="submit">submit</button>
</form>

</div>
<%}%>
<script>  
    function listeners(){
        const servicesAdded = document.getElementById('servicesAdded')
        const costsAdded = document.getElementById('costsAdded')
        const namesAdded = document.getElementById('namesAdded')
        const serviceAdd = document.getElementById('serviceAdd')
        const clientAdd = document.getElementById('clientAdd')
        const addSvcButton = document.getElementById('addSvcButton')
        serviceAdd.addEventListener('change', svcChange)
        addSvcButton.addEventListener('click', svcAdd)
    }    
    function svcChange(){
        console.log(event.target.value)
    }
    function svcAdd(){
    console.log(`added ${serviceAdd.value}`)
    //ADD NAMES AND COSTS
   const svcId =  serviceAdd.value.split('|')[0] 
   const svcNamer =  serviceAdd.value.split('|')[1] 
  const svcCost =  serviceAdd.value.split('|')[2] 
  const svcData = {  }
///////SERVICES TABLE///////
const tRow = document.createElement('div')
const totalcostEl= document.createElement('h3')
const namesEl= document.createElement('h3')
const costText = document.createTextNode(svcCost)
const namesText = document.createTextNode(svcNamer)
namesEl.appendChild(namesText)
totalcostEl.appendChild(costText)
tRow.appendChild(namesEl)
tRow.appendChild(totalcostEl)
   costsAdded.appendChild(tRow)
   /////////
  //ADD INPUT ELEMENTS FOR SERVICES
   const inputEl = document.createElement('input');
   inputEl.setAttribute('type','text')
   inputEl.setAttribute('name','serviceName')
   inputEl.setAttribute('value', serviceAdd.value ) 
   const hrefEl = document.createElement('button')
   hrefEl.setAttribute('onclick',`remove(${serviceAdd.value})`)
   servicesAdded.appendChild(inputEl, hrefEl)


}
</script>
</body> </html>