
<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body>   
  <%- include('config/bkgdImg.ejs')%>            

  <%- include('config/header.ejs')%>
<div>...</div>
<div>...</div>
<div>...</div>
<div>...</div>
NEW TRANSACTIONOS

<div class="eventBody">
    <form action="/convertDatesToBson" method="get"><button type="submit">convert dates in DB to bson</button></form>

<select name="sortMonth" id="sortMonth">
   <%- include('forms/months')%>
</select>

<select name="sortYear" id="sortYear">
    <%- include('forms/years')%>

</select>
<select name="sortType" id="sortType">
    <option value="ALL">all</option>
    <option value="CREDIT">credit</option>
    <option value="DEBIT">debit</option>
</select>

<button id="filterButton">filter</button>
</div>
<%if(typeof data[4]=='object'&& data[4]){%>
<table style="background-color: grey;">
    <thead>
        <th>date</th>
        <th>amount</th>
        <th>description</th>
        <th>client</th>
        <th>update</th>
    </thead>
    <tbody>
        <%for(let i =0;i<data[4].length;i++){%>
        
            <tr class="transaction" data-type="<%= data[4][i].transactionType %>">
            <td><%= new Date(data[4][i].postingDate).toLocaleDateString('en-US') %></td>
            <td><%= data[4][i].amount%></td>
        <td><%= data[4][i].memo%></td>
<!--FORM TO ASSIGN INVCLIENT-->
<td><select name="companyName" id="invClient_<%=data[4][i]._id%>">
    <option value="<%=data[4][i].invClient%>"><%=data[4][i].invClient%></option>
<form action="/inClientAssign" method="post">
    <%for(let i=0;i<data[1].length;i++){%>
        <option value="<%=data[1][i].companyName%>"><%=data[1][i].companyName%></option>
        <%}%>
    </select></td>
    <td>
    <button type="submit">update</button>
    </td>
</form>
    <!---->

        </tr>
     
        <%}%>
</tbody>
</table>
<%}%>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sortMonth = document.getElementById('sortMonth');
        const sortYear = document.getElementById('sortYear');
        const filterButton = document.getElementById('filterButton');

        filterButton.addEventListener('click', sendRequest);

        function sendRequest() {
            const month = sortMonth.value;
            const year = sortYear.value;

            if(month && year) {
                window.location.href = `/transSort/${month}/${year}`;
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
    const sortTypeSelect = document.getElementById('sortType');
    const transactions = document.querySelectorAll('.transaction');

    sortTypeSelect.addEventListener('change', function() {
        const selectedType = this.value;
        transactions.forEach(tr => {
            const transactionType = tr.getAttribute('data-type');
            if (selectedType === 'ALL' || selectedType === transactionType) {
                tr.style.display = ''; // Show the transaction
            } else {
                tr.style.display = 'none'; // Hide the transaction
            }
        });
    });
});
</script>

  


</body>
</html>

    