
<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body onload="listeners()">   
  <%- include('config/bkgdImg.ejs')%>            

  <%- include('config/header.ejs')%>
   
      
      <h1 class="h1Span">TRANSACTIONS</h1>
      <a href="/services"><button>services</button></a>
      <a href="/accounts"><button>accounts</button></a>
      <a href="/admin"><button>admin</button></a>

      <a href="/invoice"><button>invoice</button></a>
      <a href="/dashboard"><button>dashboard</button></a>
 

<!--MANAGE THIS INFO PANE IN JS-->
<div class="eventBody">
    <div class="eventBody">
        <form action="/csvUpload" method="post" enctype="multipart/form-data">
            <input type="file" name="csv">
            <button type="submit">Upload</button>
          </form>
    
    
    
    
    </div>
</div>



<!--MANAGE THIS INFO PANE IN JS-->
<!--MANUAL TRANSACTIONS FORM-->
<div class="EventBody">
    <div class="eventBody">
    <form action="/manualTransaction" method="post">    
        <h2>posting date</h2>
            <input type="text" id="date-input" name="postingDate" pattern="\d{2}-\d{2}-\d{4}" required>
            <h2>amount</h2>
     <input name="amount">
            <h2>description</h2>
            <input name="description">
            <h2>invoice payment from:</h2>
          
           
            <select name="invClient"  class="invClient">
                <option value=""></option>
                <%for(let i =0;i<data[1].length;i++){%>
                    <option value="<%=data[1][i].companyName%>"><%=data[1][i].companyName%></option>
                    <%}%>
                </select>
        <button typew ="submit">submit</button>
    </form>
</div>
    </div>


      <!--MANAGE THIS TRANSACTION WINDOW IN JS-->
<div class="eventBody">
<h1> transactions</h1>


<% if(data[4]) { %>

    <div class="eventBody">
    <table>
        <thead>
            <th>amount</th>
            <th>date</th>
            <th>co invoiced</th>
            <th>description</th>
            <th>memo</th>
            <th>update</th>
        </thead>
        <tbody>
            <!---->
            
            <% for(let i = 0; i < data[4].length; i++) { %>
                <form action="/updateTransCat/<%=data[4][i]._id%>" method="post">
               <%if(data[4][i].amount && data[4][i].amount > 0){%>
                 <tr style="background-color: rgb(7, 96, 7);">
                <%}%>
               <%if(data[4][i].amount && data[4][i].amount < 0){%>
                 <tr style="background-color: rgb(55, 45, 39);">
                    <%}%>
                    <td>
                        <% 
                            let amount;
                            try {
                                amount = data[4][i].amount;
                            } catch(error) {
                                console.log(error)
                                amount = error;
                            }
                            %>
                        <%= amount%>
                    </td>
             
                    <td>
                        <% 
                            let postingDate;
                            try {
                                postingDate = data[4][i].postingDate;
                            } catch(error) {
                                console.log(error)
                                postingDate = error;
                            }
                            %>
                        <%= postingDate %>
                    </td>
                    <td>
                        <% 
                            let invClient;
                            try {
                                invClient = data[4][i].invClient;
                            } catch(error) {
                                console.log(error)
                                invClient = 'none to invoice';
                            }
                            %>
                      <select name="invClient">
                        <option value="<%=invClient%>"> <%= invClient %></option>
                        <%for(let i =0;i<data[1].length;i++){%>
                            <option value="<%=data[1][i].companyName%>"><%=data[1][i].companyName%></option>
                            <%}%>
                      </select> 
                    </td>







                    <td>
                        <% 
                            let description;
                            try {
                                description = data[4][i].description;
                            } catch(error) {
                                console.log(error)
                                description = error;
                            }
                            %>
                        <%= description %>
                    </td>
                    <td>
                        <% 
                            let memo;
                            try {
                                memo = data[4][i].memo;
                            } catch(error) {
                                console.log(error)
                                memo = error;
                            }
                            %>
                            
                        <%= memo %>
                    </td>
                    <td><button type="submit()">update</button></td>
                </tr>
            </form>
                    <% } %>
                    <!---->
        </tbody>
    </table>
</div>
<% } else { %>
    no data 
<% } %>

</div>
</body>
</html>

    