


<!--lets really break down this transaction object-->
<%if(data){%>
    <%let dataSetArray = []%>
datafound
<br>
        <%for(i=0;i<Object.keys(data).length;i++){%>
        <%dataSetArray.push(Object.keys(data)[i])%>
        <%}%>
data sets:
<br>
<ul>
            <%for(x=0;x<dataSetArray.length;x++){%>
            <li>
              <h2>  data[<%=dataSetArray[x]%>]:</h2>
                <ul>
                 <!--NESTED DYNAMC UL LIs-->
                    <%for(let z=0;z<Object.keys(data[x]).length;z++){%>
                    <li><strong><%=z%>: ~~</strong>  <%=Object.values(data[x][z])%></li>
                    <%}%>
                </ul>

            </li>
            <%}%>
</ul>
<br>
<%}else{%>
no data found 
<br>
<%}%>

<% if(data[4]) { %>
    <table>
        <thead>
            <th>amount</th>
            <th>date</th>
            <th>description</th>
        </thead>
        <tbody>
            <!---->
            
            <% for(let i = 0; i < data[4].length; i++) { %>
                <tr>
                    <td>
                        <% 
                            let amount;
                            try {
                                amount = data[4][i].amount;
                            } catch(error) {
                                amount = error;
                            }
                            %>
                        <%= amount%>
                    </td>
             
                    <td>
                        <% 
                            let postingDate;
                            try {
                                postingDate = data[4][i].postingDate;
                            } catch(error) {
                                postingDate = error;
                            }
                            %>
                        <%= postingDate %>
                    </td>
                    <td>
                        <% 
                            let description;
                            try {
                                description = data[4][i].description;
                            } catch(error) {
                                description = error;
                            }
                            %>
                        <%= description %>
                    </td>
                </tr>
                    <% } %>
                    <!---->
        </tbody>
    </table>
<% } else { %>
    no data 
<% } %>



    