<!DOCTYPE html>

<head>
  <%- include('config/head.ejs')%>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: rgba(0,0,0,0); color: black;">
  <div class="wixGrid">
  <%for(let i =0;i<data[0].length;i++){%>  
<div class="wixContainer">
  <div class="wixTitle">
<h1><%=data[0][i].serviceName%></h1>
<img class="titleImg" src="<%=data[0][i].imgName%>">
</div>
<h2>$<%=data[0][i].cost%>.00 | <%=data[0][i].terms%></h2>
<p><%=data[0][i].serviceDetails%></p>

</div>
<%}%>
</div>
</body>
</html>