<!DOCTYPE html>

<head>
  <%- include('config/head.ejs')%>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: rgba(0,0,0,0); color: rgb(255, 255, 255);">

  <div class="wixGrid">
    <%for(let i =0;i<data[0].length;i++){%>  
<%if(data[0][i].status=="show"){%>
      <%let svcName = data[0][i].serviceName%>
      <%let svcNameSlice = svcName.slice(0,21)%>
<div class="wixContainer">
  <div class="wixTitle">
  <h1><%=data[0][i].serviceName%></h1> 

</div>
<h2 class="divider">$<%=data[0][i].cost%>.00</h2><h2><%=data[0][i].terms%></h2>
<h3><%=data[0][i].serviceDetails%></h3>

</div>
<%}%>
<%}%>
</div>
</body>
</html>